#For Homeassistant
secrets.yaml
mysensors1.json
*.xml
*.txt
.*
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
*.db-journal
lib
deps
tts
pyozw.sqlite
www
#custom_components/mitsubishi_mqtt/__pycache__
esphome/.esphome
esphome/archive
**/src/
**/platformio.ini
*/*/__pycache__
*/*/*/__pycache__


